[Unit]
Requires=dbus.service
After=xorg.target dbus.service

[Service]
SyslogIdentifier=%p
Restart=always
RestartSec=10
ExecStart=/usr/bin/env notification-thing\
	--activity-timeout 0 --conf-missing-ok --conf ${HOME}/.notification.yaml

[Install]
WantedBy=default.target
