# Example config from my desktop setup.
# App options are very unlikely to change, so feel free to tweak any
#  stuff here to suit your setup/distro and don't update it from the repository.

[D-BUS Service]
Name=org.freedesktop.Notifications
Exec=/usr/bin/notification-thing
